@import '_normalize/box-sizing.css';
@import '_normalize/sections.css';
@import '_normalize/misc.css';

:host {
  display: block;
}

canvas {
  display: block;
  height: 20rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  margin: 3rem 0 1rem;
}
