@import '_normalize/box-sizing.css';
@import '_normalize/sections.css';
@import '_normalize/misc.css';

:host {
  display: block;
}

canvas {
  display: block;
  height: 20rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  margin: 3rem 0 2rem;
}

.field {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.field label {
  flex-grow: 1;
  min-width: 6rem;
  text-transform: uppercase;
}

.field ygo-select {
  flex-grow: 5;
  max-width: 100%;
}

.current {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.current .info {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1.25;
}

.info span:first-child {
  font-size: 1.25rem;
}

.info span:nth-child(2) {
  color: var(--text-secondary, rgba(255, 255, 255, 0.6));
  margin-top: 1rem;
  text-transform: uppercase;
}

.timestamp {
  color: var(--text-secondary, rgba(255, 255, 255, 0.6));
  font-size: 0.875rem;
  text-align: center;
}
