@import '_normalize/box-sizing.css';
@import '_normalize/sections.css';

:host {
  display: block;
}

.container {
  text-align: center;
}

.title {
  font-size: 1.75rem;
  font-weight: normal;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 16rem;
  padding: 0.75rem;
  width: 33.3333%;
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
  flex-basis: 33.3333%;
}

@media screen and (min-width: 1088px) {
  .card {
    width: 25%;
  }
}
