@import '_normalize/box-sizing.css';
@import '_normalize/sections.css';
@import '_normalize/embedded.css';

:host {
  display: block;
}

.card {
  background-color: var(--theme, #9d7150);
  border: 2px solid var(--theme, #9d7150);
  padding: 2rem 0 0;
  margin-top: 8rem;
}

.details {
  align-items: center;
  background-color: #a1887f;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: flex-start;
  padding-top: 6rem;
  position: relative;
}

.details img {
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -100%);
  width: 10rem;
}

.details:hover img {
  transition: all 0.4s ease-in-out;
  transform: translate(-50%, -100%) scale(1.1);
}

.details h3 {
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  width: 80%;
}

.info {
  margin-top: 0.5rem;
}

.price {
  font-size: 1.125rem;
  font-weight: 600;
}

@media (min-width: 768px) {
}
