@import '_normalize/text-level';
@import '_normalize/box-sizing.css';

:host {
  contain: content;
  display: block;
}

a {
  color: white;
}

.app-section {
  min-height: calc(100vh - 3.25rem); /* 100vh - navbar height */
  padding: 3rem 1.5rem;
}

footer {
  font-size: 0.875rem;
  padding: 1rem 1rem 4rem 1rem;
}

ygo-search-input {
  margin-bottom: 2rem;
}
