@import '_normalize/box-sizing.css';
@import '_normalize/sections.css';

:host {
  contain: content;
  display: block;
}

.container {
  text-align: center;
}

.title {
  font-size: 1.75rem;
  font-weight: normal;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.card {
  padding: 0.75rem;
}

.cards-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-top .card {
  flex-grow: 1;
  min-width: 16rem;
}
