@import '_normalize/box-sizing.css';
@import '_normalize/forms.css';

:host {
  contain: content;
  display: block;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

input {
  appearance: none;
  align-items: center;
  border: 1px solid #0000;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
}

.input {
  background-color: var(--darkest, #4e342e);
  color: whitesmoke;
  display: block;
  max-width: 100%;
  width: 100%;
}

.input:focus {
  box-shadow: 0 0 0 0.125em var(--primary, #9d7150);
  outline: none;
}

.input[disabled] {
  box-shadow: none;
  color: #7a7a7a;
}

.control.is-loading .spinner {
  animation: spinAround 0.5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: '';
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

.control.is-loading .spinner {
  position: absolute !important;
  right: 0.625em;
  top: 0.625em;
  z-index: 4;
}

.awesomplete {
  display: block;
}

.awesomplete > ul {
  background: var(--dark, #67412e);
  color: white;
}

.awesomplete > ul:before {
  background: var(--dark, #67412e);
}

.awesomplete > ul > li:hover {
  background: var(--primary, #9d7150);
  color: white;
}

.awesomplete > ul > li[aria-selected='true'] {
  background: var(--primary, #9d7150);
}

.awesomplete mark {
  background: var(--gold, #fbc02d);
  color: var(--darkest, #4e342e);
}

.awesomplete li:hover mark {
  background: var(--gold, #fbc02d);
}

.awesomplete li[aria-selected='true'] mark {
  background: var(--darkest, #4e342e);
  color: inherit;
}
