<div class="card">
  <div class="cover-wrapper">
    <img class="cover" alt="Cover" width="256" height="375" />
  </div>
  <div class="details">
    <div class="heading">
      <span>
        <span class="level"></span>
        <img class="level-icon" src="assets/star.png" alt="Level" />
      </span>
      <h3 class="name"></h3>
      <span>
        <span class="type"></span>
      </span>
    </div>
    
    <div class="cardtype-info">
      <span>
        <span class="info-name">ATK</span>
        <span class="atk"></span>
      </span>
      <span>
        <img class="family" alt="Family" width="32" height="32">
      </span>
      <span>
        <span class="info-name">DEF</span>
        <span class="def"></span>
      </span>
    </div>

    <div class="text"></div>
  </div>
</div>
