@import '_normalize/box-sizing.css';
@import '_normalize/text-level.css';

:host {
  display: block;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  display: flex;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.navbar-brand {
  align-items: stretch;
  cursor: pointer;
  display: flex;
  padding: 0 1rem;
  transition: all 86ms ease-out;
}

.navbar-brand:hover {
  background-color: var(--hover, var(--dark, #67412e));
  color: white;
}

.navbar-brand .navbar-item {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  text-decoration: none;
}
