.mt0 {
  margin-top: var(--spacing-none);
}
.mt1 {
  margin-top: var(--spacing-extra-small);
}
.mt2 {
  margin-top: var(--spacing-small);
}
.mt3 {
  margin-top: var(--spacing-medium);
}
.mt4 {
  margin-top: var(--spacing-large);
}
.mt5 {
  margin-top: var(--spacing-extra-large);
}
.mt6 {
  margin-top: var(--spacing-extra-extra-large);
}
.mt7 {
  margin-top: var(--spacing-extra-extra-extra-large);
}
